* {
  margin: 0;
  padding: 0;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../img/sky.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
  overflow: hidden;
}
.highway {
  height: 200px;
  width: 500%;
  display: block;
  background-image: url(../img/road.jpg);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-repeat: repeat-x;
  animation: highway 5s linear infinite;
}
@keyframes highway{
    100%{
        transform: translateX(-3400px);
    }
}
.city{
    height: 250px;
    width: 500%;
    background-image: url(../img/city.png);
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
    background-repeat: repeat-x;
    animation: city 20s linear infinite;
    background-size: contain;
}
@keyframes city{
    100%{
        transform: translateX(-1400px);
    }
}
.car{
    width: 400px;
    left: 50%;
    bottom: 110px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;

}
.car img{
    width: 100%;
    animation: car 1s linear infinite;
}
@keyframes car{
    100%{
        transform: translateY(-1px);
    }

    50%{
        transform: translateY(1px);
    }

    0%{
        transform: translateY(-1px);
    }
}
.car2{
    width: 400px;
    height: auto;
    left: 10%;
    bottom: 79px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
    transform: scale(-1, 1);
    animation: go 6s linear infinite;
}
@keyframes go{
    0%{
        left: -30%;

    }
    100%{
        left: 110%;
    }
}
.car2 img{
    width: 100%;
    animation: car 1s linear infinite;

}
.wheel{
    left: 50%;
    bottom: 178px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}
.wheel img{
    width: 72px;
    height: 72px;
    animation: wheel 0.6s linear infinite;
}
.back-wheel{
    left: -172px;
    position: absolute;
}
.front-wheel{
    left: 70px;
    position: absolute;
}
@keyframes wheel{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes wheel2{
    100%{
        transform: rotate(-360deg);
    }
}
.wheel2{
    left: 55%;
    bottom: 57px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
  }
.wheel2 img{
    width: 72px;
    height: 72px;
    animation: wheel2 0.1s linear infinite;
}
.back-wheel2{
    left: -174px;
    position: absolute;
}
.front-wheel2{
    left: 51px;
    position: absolute;
}

.light img{
    rotate: -20deg;
    position: absolute;
    left: 1000px;
    scale: 1.4;
    visibility: hidden;
    animation: light 0.12s linear 5;
    animation-delay: 2s;
}
@keyframes light{
    0%{
   visibility: hidden;
    }
    10%{
visibility: visible;
    }
    11%{
visibility: hidden;
    }
    70%{
visibility: hidden;
    }
    71%{
visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

.rain{
    height: 100vh;
    background-image: url(../img/rain.png);
    animation: rain 0.3s linear infinite;
    z-index: 10;
}

@keyframes rain{
    0%{
        background-position: 0% 0%;
    }
    
    100%{
        background-position: 20% 100%;
    }

}